div.animation {
  width: 100%;
  height: 100vh;
  background-color: #37c7d0;
  position: fixed;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

#first {
  stroke-dasharray: 332px;
  stroke-dashoffset: 332px;
  animation: fadeInside 0.6s ease-in forwards;
}

#second {
  stroke-dasharray: 379px;
  stroke-dashoffset: 379px;
  animation: fadeInside 0.6s ease-in forwards 0.3s;
}

#third {
  stroke-dasharray: 213px;
  stroke-dashoffset: 213px;
  animation: fadeInside 0.6s ease-in forwards 0.6s;
}

#fourth {
  stroke-dasharray: 379px;
  stroke-dashoffset: 379px;
  animation: fadeInside 0.6s ease-in forwards 0.9s;
}

#fifth {
  stroke-dasharray: 371px;
  stroke-dashoffset: 371px;
  animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#sixth {
  stroke-dasharray: 389px;
  stroke-dashoffset: 389px;
  animation: fadeInside 0.6s ease-in forwards 1.5s;
}

#seventh {
  stroke-dasharray: 433px;
  stroke-dashoffset: 433px;
  animation: fadeInside 0.6s ease-in forwards 1.8s;
}

#eighth {
  stroke-dasharray: 411px;
  stroke-dashoffset: 411px;
  animation: fadeInside 0.6s ease-in forwards 2.1s;
}

#ninth {
  stroke-dasharray: 379px;
  stroke-dashoffset: 379px;
  animation: fadeInside 0.6s ease-in forwards 2.4s;
}

#tenth {
  stroke-dasharray: 356px;
  stroke-dashoffset: 356px;
  animation: fadeInside 0.6s ease-in forwards 2.7s;
}

#eleventh {
  stroke-dasharray: 1491px;
  stroke-dashoffset: 1491px;
  animation: fadeInside 0.6s ease-in forwards;
}

#twelfth {
  stroke-dasharray: 1139px;
  stroke-dashoffset: 1139px;
  animation: fadeInside 0.6s ease-in forwards 0.4s;
}

#thirteenth {
  stroke-dasharray: 1205px;
  stroke-dashoffset: 1205px;
  animation: fadeInside 0.6s ease-in forwards 0.8s;
}

#fourteenth {
  stroke-dasharray: 1395px;
  stroke-dashoffset: 1396px;
  animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#fifteenth {
  stroke-dasharray: 597px;
  stroke-dashoffset: 597px;
  animation: fadeInside 0.6s ease-in forwards 1.6s;
}

#sixteenth {
  stroke-dasharray: 1277px;
  stroke-dashoffset: 1277px;
  animation: fadeInside 0.6s ease-in forwards 2s;
}

#seventeenth {
  stroke-dasharray: 1211px;
  stroke-dashoffset: 1211px;
  animation: fadeInside 0.6s ease-in forwards 2.4s;
}

svg {
  animation: fill 1s ease-in forwards 2.4s;
}

@keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
