* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

.blus {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 150vh;
}

header nav {
  width: 100%;
}

header nav ul {
  padding: 2rem;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  font-size: 1.5rem;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.left {
  position: relative;
  padding: 1rem 2rem;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
}

main section.left h1 {
  font-size: 4rem;
  color: #0b9890;
}

main section.left p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

main section.left div.blusCycl {
  width: 250px;
  height: 250px;
  background-color: #37c7d0;
  border-radius: 50%;
  opacity: 30%;
  position: absolute;
  top: 350px;
  left: 20px;
  z-index: -1;
}

main section.right {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
}

main section.right img {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 25vh;
  right: 10vw;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main section.table {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
  padding: 2rem;
}

main section.table table {
  border-collapse: collapse;
}

main section.table table tr {
  border-bottom: 2px solid #37c7d0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

main section.table table tr td {
  padding: 1rem;
}

main section.table table tr:hover {
  background-color: #9ef7fd;
}

main section.table img {
  width: 80px;
  height: 80px;
}

main section.pic {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  position: relative;
}

main section.pic img {
  width: 30vw;
}

main section.pic div.blusRect {
  width: 30vw;
  height: 50vh;
  background-color: #37c7d0;
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: -1;
}

main section.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
}

main section.form form {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
}

main section.form form div {
  margin: 0.5rem;
}

main section.form form div label {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

main section.form form div input, main section.form form div textarea {
  background-color: #37c7d0;
  color: white;
  font-size: 1.25rem;
  padding: 0.25rem 0.25rem;
  border: none;
  width: 90%;
}

main section.form form div textarea {
  vertical-align: top;
}

main section.form form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #37c7d0;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
}

main div.line {
  background-color: #dfd7d7;
  width: 3px;
}

main section.contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

main section.contact div.content h2 {
  margin: 1rem 0rem;
}

footer {
  padding: 2rem;
}

footer a {
  padding: 1rem;
}

.active {
  color: #37c7d0;
}

@media screen and (max-width: 1100px) {
  .blus {
    opacity: 0.5;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
  }
  header nav ul li {
    padding: 0.8rem 0rem;
    border-bottom: 2px solid #37c7d0;
  }
  main section.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.right img {
    position: static;
    -webkit-transform: none;
            transform: none;
    width: 50vw;
    height: 50vw;
  }
  main section.pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.pic img {
    width: 50vw;
    border-radius: 5%;
  }
  main section.pic div.blusRect {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */